<%- include('layout/header') %>

<div class="ui segment">
	<div class="text-center">
		<button class="huge circular ui basic icon button" data-tooltip="自动获取当前位置" data-position="bottom center" data-inverted="" id="getCurLoc">
		  <i class="icon marker"></i>
		</button>
		<button class="huge circular ui basic icon button" id="locate" data-tooltip="经纬度定位" data-position="bottom center" data-inverted="">
		  <i class="icon compass"></i>
		</button>
		<button class="huge circular ui basic icon button" id="go-far-in-earth" data-tooltip="<%- __('Let\'s go far away!') %>" data-position="bottom center" data-inverted="">
		  <i class="icon map signs"></i>
		</button>
		<button class="huge circular ui basic icon button" id="go-far-in-china" data-tooltip="<%- __('The farthest city in China.') %>" data-position="bottom center" data-inverted="">
		  <i class="icon china flag"></i>
		</button>
	</div>

	<div class="ui divider"></div>

	<div class="doubling stackable two column ui grid container">
		<div class="twelve wide column">
			<div class="ui fluid icon input" id="r-result">
			  <input type="text" placeholder="Search..." id="suggestId">
			  <i class="search icon"></i>
			  <div id="searchResultPanel" style="height:auto; display:none;"></div>
			</div>
		</div>
		<div class="four wide column text-center">
			<div class="ui small horizontal statistic">
			  <div class="value" id="distance">
			    0
			  </div>
			  <div class="label">m </div>
			</div>
		</div>
    <div class="column">
    	<div class="ui fluid right labeled left input">
  	  	<input class="latitude" type="number" min="0" max="90" placeholder="<%= __('input degrees') %>">
  	  		<div class="ui tag label top icon dropdown">
  	  			<span class="text" id="lat_txt">° N (<%- __('north latitude') %>)</span>
  	  		  <div class="menu">
  	  		    <div class="item">
  	  		      ° N (<%- __('north latitude') %>)
  	  		    </div>
  	  		    <div class="item">
  	  		      ° S (<%- __('south latitude') %>)
  	  		    </div>
  	  		  </div>
  	  		</div>
    	</div>
	  </div>
	  <div class="column">
    	<div class="ui fluid right labeled left input">
  	  	<input class="longitude" type="number" min="0" max="180" placeholder="<%= __('input degrees') %>">

  	  		<div class="ui tag label top icon dropdown">
  	  			<span class="text" id="lng_txt">° E (<%- __('east longitude') %>)</span>
  	  		  <div class="menu">
  	  		    <div class="item">
  	  		      ° E (<%- __('east longitude') %>)
  	  		    </div>
  	  		    <div class="item">
  	  		      ° W (<%- __('west longitude') %>)
  	  		    </div>
  	  		  </div>
  	  		</div>
    	</div>
	  </div>
	</div>

  <div class="ui divider"></div>

  <div class="text-center">
    <div class="ui buttons">
      <button id="google-map" class="ui secondary button"><i class="icon google red"></i><%- __('Google Map') %></button>
      <div class="or"></div>
      <button id="baidu-map" class="ui button"><i class="icon paw blue"></i><%- __('Baidu Map') %></button>
    </div>
  </div>

	<div class="ui divider"></div>

	<div id="map"></div>

</div>

<%- include('layout/copyright') %>
<script src="/js/app.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=k5Ml6vMgXxesl4jr0lmscvru5CNZrdQp"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>

<script type="text/javascript">

  if(getQueryString('map') === 'baidu'){
    $(".ui .button").removeClass("secondary");
    $("#baidu-map").addClass("secondary");
    $("body").append('<script type="text/javascript" src="/js/map/baidu.js"><//script>');
  }else{
    $("body").append('<script type="text/javascript" src="/js/map/google.js"><//script>');
  }

  $('#google-map').click(function(){
    window.location.href = "?lang="+getQueryString('lang')+"&map=google";
  });
  $('#baidu-map').click(function(){
    window.location.href = "?lang="+getQueryString('lang')+"&map=baidu"; 
  });
</script>

<%- include('layout/footer') %>